@font-face {
   font-family: '911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY';
   font-display: swap;
   src: url('file:///C:/Users/sasch/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-16_130549/fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY/font.ttf');
}
